* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 
1.Location
2.Size 
3.Color
4.Styles
*/

#main {}

#header {
    height: 55px;
    background-color: black;
}

#header #nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#nav li {
    display: inline-block;
    text-align: center;
    line-height: 55px;
    margin: auto;
}

#nav li a {
    color: white;
    text-decoration: none;
}

#slides {}

#content {}

#footer {}